@import "../../styles/settings.scss";

.columnForm {
    display: block;
    width: 100%;
}

.columnForm input {
    display: block;
    width: 100%;
}

.columnForm button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}