@import "../../styles/settings.scss";

.listForm {
    text-align: center;
    padding: 10px;
}

.listForm span {
    margin: 10px;
}

@media (max-width: 767px) {
    .listForm input {
        display: block;
        width: 100%;
    }
}
